body {
  background-color: rgb(179, 165, 165);
}

.page {
  padding: 20px;
  margin: 80px auto;
  width: 800px;
  height: 600px;
  border-radius: 25px;
  background-color: rgb(225, 230, 219);
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
}

.logo {
  width: 130px;
  border-radius: 50%;
}

.header-btn {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: space-between;

}

.navigation {
  border: 1px solid rgb(78, 106, 231);
  width: 25%;
  padding: 10px;
}

.out {
  border: 1px solid rgb(92, 212, 36);
  flex-grow: 1;
  padding: 10px;
}

.menu {
  padding: 0;
  width: 70%;
  margin: auto;
  list-style-type: none;
}

.nav-item {
  text-align: center;
  margin-top: 17px;
}

.nav-item a {
  width: 100%;
  display: block;
  background-color: rgb(86, 109, 158);
  color: rgb(198, 245, 231);
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.nav-item a:hover {
  background-color: rgb(107, 128, 175);

}

.nav-item a:active {
  background-color: rgb(50, 64, 92);

}